<div class="box box-gray">
    <h3 class="box-header with-border">Inspector Billing</h3>
    
    <div class="alert-fixed">
        <div ng-repeat="alert in vm.alerts">
            <div class="alert alert-{{alert.type}}">
                {{alert.content}}
            </div>
        </div>
    </div>

    <div class="box-body">
        
        <div ng-if="vm.billing.inspector.profile.is_miles_locked && vm.userRole !== 'inspector'">
            <div class="alert alert-info">
                {{vm.billing.inspector.name}} is not allowed to add billable miles.
            </div>
        </div>
        
        <!-- alert msg for an inspector whose miles are currently locked -->
        <div ng-if="vm.billing.inspector.profile.is_miles_locked && vm.userRole === 'inspector'">
            <div class="alert alert-danger">
                You can not enter billable miles. If this an error please contact us.
            </div>
        </div>
        
        <form name="InvoiceForm" ng-submit="save()" class="form-horizontal inspection-form">
            <div class="form-group row">
                <label class="col-sm-2 control-label">Week of</label>
                <div class="col-sm-4">
                    <select ng-model="vm.week" 
                        ng-options="week.name for week in vm.weeks" 
                        ng-change="vm.getWeeklyInspections()" 
                        class="form-control">
                    </select>
                </div>
                <div ng-if="vm.userRole !== 'inspector'">
                    <label class="col-sm-2 control-label">Weekly Mileage Fields</label>
                    <div class="col-sm-4">
                        <button ng-click="vm.lockMiles()" 
                                ng-disabled="!vm.billing.inspector.id"
                                class="btn btn-primary col-sm-5"
                                style="white-space: normal">
                            Lock/Unlock Inspector Miles
                        </button>
                        <button class="btn btn-primary col-sm-5"
                                style="white-space: normal; margin-left: 1em;"
                                ng-disabled="true">
                            Lock/Unlock All Inspector Miles
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div ng-if="vm.userRole !== 'inspector'">
                    <label class="col-sm-2 control-label">Inspector</label>
                    <div class="col-sm-4">
                        <select ng-model="vm.billing.inspector"
                                ng-options="inspector.name for inspector in vm.inspectors"
                                ng-change="vm.getInspectionsByInspector(vm.billing.inspector.id)" 
                                class="form-control"></select>
                    </div>
                </div>
                
                <label class="col-sm-2 control-label">Print Weekly Billing</label>
                <div class="col-sm-4">
                    <button ng-disabled="!vm.billing.inspector.id"
                            class="btn btn-primary col-sm-5"
                            style="white-space: normal"
                            ng-click="vm.print()">
                        Print Billing Inspector
                    </button>
                    <button class="btn btn-primary col-sm-5"
                            style="white-space: normal; margin-left: 1em;"
                            ng-disabled="!vm.week"
                            ng-click="vm.print();"
                            ng-if="vm.userRole !== 'inspector'">
                        Print Billing All Inspectors
                    </button>
                </div>
            </div>
            
            <div class="form-group margin-top">
                <table class="table table-bordered table-striped">
                    <thead class="thead-default">
                        <tr>
                            <th>Date</th>
                            <th>Insured</th>
                            <th>Insp. Type</th>
                            <th>Rate</th>
                            <th>Rope & Harness</th>
                            <th>Tarp(s)</th>
                            <th>Misc</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    
                    <tr ng-repeat="inspection in vm.inspections">
                        <td>{{inspection.date_of_inspection}}</td>
                        <td>{{inspection.first_name}} {{inspection.last_name}}</td>
                        <td>{{inspection.inspection_outcome | outcomeType}}</td>
                        <td></td>
                        <td>{{vm.meta[inspection.id] | showMeta:'harness_charge'}}</td>
                        <td>{{vm.meta[inspection.id] | showMeta:'tarp_charge'}}</td>
                        <td>{{vm.meta[inspection.id] | showMeta:'misc_charge'}}</td>
                        <td>${{ inspection.chargeTotal }}</td>
                    </tr> 
                </table>
            </div>

            <div class="form-group margin-top" ng-if="vm.billing.inspector.id && vm.inspections.length > 0">
                <table class="table table-bordered billing-input">
                    <thead class="thead-default">
                        <tr>
                            <th>Mon.</th>
                            <th>Tues.</th>
                            <th>Wed.</th>
                            <th>Thurs.</th>
                            <th>Fri.</th>
                            <th>Sat.</th>
                            <th>Sun.</th>
                            <th>Total Mileage</th>
                            <th>Billable Mileage</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <input type="number" class="form-control" ng-model="vm.mileage.monday" ng-change="vm.incTotal(vm.mileage.mon)"
                                ng-disabled="vm.billing.inspector.profile.is_miles_locked && vm.userRole === 'inspector'" />
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="vm.mileage.tuesday" ng-change="vm.incTotal(vm.mileage.tues)"
                                ng-disabled="vm.billing.inspector.profile.is_miles_locked && vm.userRole === 'inspector'" />
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="vm.mileage.wednesday" ng-change="vm.incTotal(vm.mileage.wed)"
                                ng-disabled="vm.billing.inspector.profile.is_miles_locked && vm.userRole === 'inspector'" />
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="vm.mileage.thursday" ng-change="vm.incTotal(vm.mileage.thurs)"
                                ng-disabled="vm.billing.inspector.profile.is_miles_locked && vm.userRole === 'inspector'" />
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="vm.mileage.friday" ng-change="vm.incTotal(vm.mileage.fri)"
                                ng-disabled="vm.billing.inspector.profile.is_miles_locked && vm.userRole === 'inspector'" />
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="vm.mileage.saturday" ng-change="vm.incTotal(vm.mileage.sat)"
                                ng-disabled="vm.billing.inspector.profile.is_miles_locked && vm.userRole === 'inspector'" />
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="vm.mileage.sunday" ng-change="vm.incTotal(vm.mileage.sun)"
                                ng-disabled="vm.billing.inspector.profile.is_miles_locked && vm.userRole === 'inspector'" />
                        </td>
                        <td>
                            {{ vm.mileage.total }} 
                        </td>
                        <td>
                            {{ vm.mileage.billable_mileage }}    
                        </td>
                        <td>
                            ${{ vm.mileage.billable }}
                        </td>
                    </tr>
                </table>
            </div>
            
            <button type="submit" class="btn btn-success" ng-click="vm.save()" 
                ng-if="(vm.billing.inspector && !vm.billing.inspector.profile.is_miles_locked) || 
                   (vm.billing.inspector.profile.is_miles_locked && vm.userRole !== 'inspector')">Save</button>
        </form>
    </div>
</div>

