<div class="box">
    <div class="box-header">
        <h4>Documents</h4>
    </div>

    <div class="box-body">
        <table class="table table-striped centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Url</th>
                    <th ng-if="vm.userRole===vm.userTypes.ADMIN">Delete</th>
                    <th ng-if="vm.userRole===vm.userTypes.ADMIN">Order</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trainingVideo in vm.trainingVideos">
                    <td>{{trainingVideo.name}}</td>
                    <td><a ng-href="trainingVideo.item_url">{{trainingVideo.item_url}}</a></td>
                    <td ng-if="vm.userRole===vm.userTypes.ADMIN">
                        <a ng-href="#" ng-click="vm.deleteTrainingVideo(vm.trainingVideos[$index], 'trainingVideo')" onclick="event.preventDefault()"><i class="fa fa-trash-o"></i>
                    </td>
                    <td ng-if="vm.userRole===vm.userTypes.ADMIN" class="resource-display-order">
                        <div class="col-md-3 col-sm-4 col-xs-6"><input type="text" ng-model="vm.trainingVideos[$index].display_order" class="form-control sm-padding centered"/></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="vm.userRole===vm.userTypes.ADMIN">
            <button type="submit" ng-click="vm.saveTrainingVideos(vm.resourceConstants.TRAINING_MATERIAL)" class="btn btn-success margin-top">Save Training Materials</button>

            <hr />

            <form name="documentsForm" class="form form-horizontal inspection-form resource-form">
                <div class="form-group">
                    <label class="col-sm-1 control-label no-set-width">Training Material Type</label>
                    <div class="col-sm-6">
                        <label class="radio-inline" ng-init="vm.trainingVideo.item_type='link'">
                        <div class="col-sm-6">
                            <input type="radio" name="fileType" ng-model="vm.trainingVideo.item_type" value="link" /> Link
                        </div>
                        <div class="col-sm-6">
                            <input type="radio" name="fileType" ng-model="vm.trainingVideo.item_type" value="file" /> File
                        </div>
                    </label>
                    </div>
                </div>
                <div ng-if="vm.trainingVideo.item_type=='link'">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Name</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="vm.trainingVideo.name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Url</label>
                        <div class="col-sm-6">
                            <input type="url" ng-model="vm.trainingVideo.item_url" class="form-control" ng-required="vm.trainingVideo.item_type=='link'"
                            />
                        </div>
                    </div>
                </div>

                <div ng-if="vm.trainingVideo.item_type=='file'">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Name</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="vm.trainingVideo.name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">File</label>
                        <div class="col-sm-6">
                            <input type="file" ng-model="vm.file" class="form-control" onchange="angular.element(this).scope().vm.uploadFile('trainingVideo');"
                            />
                        </div>
                    </div>
                </div>


            </form>
            <div ng-if="documentsForm.$error.url" class="alert alert-danger">Please enter a valid url.</div>
            <button type="button" class="btn btn-success margin-top" ng-click="vm.add(vm.trainingVideo)" ng-disabled="documentsForm.$invalid">
            <span ng-if="vm.trainingVideo.item_type=='link'">Add Link</span>
            <span ng-if="vm.trainingVideo.item_type=='file'">Add File</span>
        </button>
        </div>
    </div>
</div>