<sidebar options="vm.options"></sidebar>

<div class="box box-info">
	<div class="box-header with-border margin-bottom">
		<div class="col-sm-3">
			<h3>Inspection Details</h3>
		</div>
		<div class="col-sm-2 form-forms">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Inspection Forms
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-class="{'disabled': vm.form.basic_sketch}">
						<a ng-href="{{vm.form.basic_sketch}}"
						ng-click="initUpload($event, 'basic_sketch');">
							<i ng-if="!vm.form.basic_sketch" class="fa fa-times text-danger"></i>
							<i ng-if="vm.form.basic_sketch" class="fa fa-check text-success"></i>
							Basic Sketch
						</a>
					</li>
					<li>
						<a ng-href="{{vm.form.expert_sketch}}" ng-click="vm.initUpload($event, 'expert_sketch');">
							<i ng-if="!vm.form.expert_sketch" class="fa fa-times text-danger"></i>
							<i ng-if="vm.form.expert_sketch" class="fa fa-check text-success"></i>
							Expert Sketch
						</a>
					</li>
					<li>
						<a ng-href="{{vm.form.alacrity_form}}" ng-click="vm.initUpload($event, 'alacrity_form');">
							<i ng-if="!vm.form.alacrity_form" class="fa fa-times text-danger"></i>
							<i ng-if="vm.form.alacrity_form" class="fa fa-check text-success"></i>
							Alacrity Form
						</a>
					</li>
					<li>
						<a ng-href="{{vm.form.nct_form}}" ng-click="vm.initUpload($event, 'nct_form');">
							<i ng-if="!vm.form.nct_form" class="fa fa-times text-danger"></i>
							<i ng-if="vm.form.nct_form" class="fa fa-check text-success"></i>
							NCT Form
						</a>
					</li>
				</ul>
			</div>
		</div>
		<input type="file" name="formUpload" style="display:none" onchange="angular.element(this).scope().vm.uploadFile();" />
	</div>

	<div class="clearfix"></div>

	<div class="box-body">
		<form name="processingForm" ng-submit="vm.save" class="form-horizontal processing-form">

			<div class="box-group" id="accordion">
				<div class="panel box">
					<div class="box-header">
						<h4 class="box-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">
	                        Work order details (Click to view)
	                      </a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
						<div class="processing-gray">

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-3 no-set-width control-label">Inspection #</label>
										<div class="col-sm-9 processing-content">{{vm.workorder.policy_num}}</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-3 no-set-width control-label">Claim #</label>
										<div class="col-sm-9 processing-content">{{vm.workorder.claim_num}}</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="margin-top col-sm-6">
									<div class="form-group">
										<label class="col-sm-3 control-label no-set-width">Inspection Type</label>
										<div class="col-sm-7 processing-content">{{vm.workorder.inspection_val}}</div>
									</div>
								</div>
								<div class="margin-top col-sm-6">
									<div class="form-group">
										<label class="col-sm-3 control-label no-set-width">Auto Upgrade</label>
										<div class="col-sm-9 processing-content">{{vm.auto_upgrade}}</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 no-set-width control-label">Insured Name</label>
										<div class="col-sm-8 processing-content">{{vm.workorder.first_name}} {{vm.workorder.last_name}}</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 no-set-width control-label">Phone Number</label>
										<div class="col-sm-8 processing-content">{{vm.workorder.phone_1}}</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label class="col-sm-4 no-set-width control-label">Insured Address</label>
										<div class="col-sm-8 processing-content">{{vm.workorder.address}}
											{{vm.workorder.city}},
											{{vm.workorder.state}}
											{{vm.workorder.zip}}
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Insured Special Instructions</label>
										<div class="col-sm-10 processing-content">
											<p>
												{{vm.workorder.special_instructions_insured}}
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- adjutser -->
						<div class="processing-gray margin-top">
							<div class="row">
								<div class="margin-top col-sm-6">
									<div class="form-group">
										<label class="col-sm-3 control-label no-set-width">Adjuster Name</label>
										<div class="col-sm-9 processing-content">{{vm.workorder.adjuster.name}}</div>
									</div>
								</div>
								<div class="margin-top col-sm-6">
									<div class="form-group">
										<label class="col-sm-3 control-label no-set-width">Insurance Company</label>
										<div class="col-sm-8 processing-content">{{vm.workorder.adjuster.profile.insurance_company}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="margin-top col-sm-12">
									<div class="form-group">
										<label class="col-sm-2 control-label no-set-width">Adjuster Phone</label>
										<div class="col-sm-10 processing-content">{{vm.workorder.adjuster.profile.phone}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="margin-top col-sm-12">
									<div class="form-group">
										<label class="col-sm-2 control-label no-set-width">Adjuster Email</label>
										<div class="col-sm-10 processing-content">{{vm.workorder.adjuster.email}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="margin-top col-sm-12">
									<div class="form-group">
										<label class="col-sm-2 control-label no-set-width">Adjuster Special Instructions:</label>
										<div class="col-sm-10 processing-content">
											<p>
												{{vm.workorder.special_instructions_adjuster}}
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="box-group margin-top" id="processing-details">
				<div class="panel box">
					<div class="box-header">
						<h4 class="box-title">
							<a data-toggle="collapse" data-parent="#processing-details" href="#collapse-two" aria-expanded="true" class="">
	                        Processing details (Click to view)
	                      </a>
						</h4>
					</div>

					<div id="collapse-two" class="panel-collapse collapse" aria-expanded="false">
						<div class="processing-gray">
							<div class="row margin-top">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Progress Status</label>
										<div class="col-sm-8 processing-content">
											{{vm.workorderStatus.name}}
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Date of last contact</label>
										<div class="col-sm-8 processing-content">
											{{vm.workorder.date_of_last_contact | date:YYYY/mm/dd}}
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-top">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Date of inspection</label>
										<div class="col-sm-8 processing-content">
											{{vm.workorder.date_of_inspection | date:YYYY/mm/dd}}
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Time of inspection</label>
										<div class="col-sm-8 processing-content">
											{{vm.workorder.date_of_inspection | date:'hh:mm a'}}
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-top">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Inspector</label>
										<div class="col-sm-8 processing-content">
											{{vm.workorder.inspector}}
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Date Cancelled</label>
										<div class="col-sm-8 processing-content">
											{{vm.workorder.date_cancelled}}
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-top">
								<div class="col-sm-12">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Special Instructions to Inspector</label>
										<div class="col-sm-9 processing-content">
											{{vm.workorder.special_instructions_to_inspector}}
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<hr />

			<h4>Inspection Billing Details:</h4>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-sm-2 control-label">Inspection outcome</label>
						<div class="col-sm-6">
							<select class="form-control" ng-options="outcome.name for outcome in outcomes.outcomes"
								ng-model="inspectionOutcome"
								ng-change="form.outcome_type=inspectionOutcome.name;">
								<option value="">
									Select an outcome
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-sm-2 control-label">Rope & Harness Charge</label>
						<div class="col-sm-6">
							<select class="form-control"
								ng-options="outcome.amount for outcome in outcomes.harnessCharges"
								ng-model="harnessCharge"
								ng-change="form.harness_charge=harnessCharge.amount">
								<option value="">
									Select an amount
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-sm-2 control-label">Tarp(s) Charge</label>
						<div class="col-sm-6">
							<select class="form-control"
								ng-options="outcome.amount for outcome in outcomes.tarpCharges"
								ng-model="tarpCharge"
								ng-change="form.tarp_charge=tarpCharge.amount">
								<option value="">
									Select a charge
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-sm-2 control-label">Misc.</label>
						<div class="col-sm-6">
							<input type="text" ng-model="form.misc_charge" class="form-control" placeholder="Manual enter value" />
						</div>
					</div>
				</div>
			</div>

			<hr />

			<button type="button" class="btn btn-danger" click="lockBilling">
				Lock Billing Details
			</button>

			<hr />

			<div class="row" ng-if="['Cancelled', 'Cancelled w/ trip charge', 'Reschedule w/ trip charge', 'Reschedule'].indexOf(form.outcome_type) != -1">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-sm-2 no-set-width control-label">
							What was the reason this inspection was cancelled or needs to be scheduled?</label>
						<div class="col-sm-10">
							<input type="text" ng-model="form.cancel_reschedule_reason" class="form-control" />
						</div>
					</div>
				</div>
			</div>

			<alacrity-form form="form"></alacrity-form>

			<div class="clearfix"></div>

			<hr />
			<button type="submit" class="btn btn-success" ng-click="save()">Save</button>
		</form>
	</div>
</div>
