<sidebar options="vm.options"></sidebar>

<progress-bar loading="vm.loading" custom-message="vm.loadingMsg"></progress-bar>

<div class="alert-fixed">
    <div ng-repeat="alert in vm.alerts" ng-click="vm.alerts.pop();">
        <div class="alert alert-{{alert.type}}">{{alert.content}}</div>
    </div>
</div>

<input type="file" name="photoUpload[]" style="display:none;" onchange="angular.element(this).scope().vm.uploadFile();" multiple="[]"
/>

<div class="box box-info">
    <div class="box-body">
        <div class="col-sm-12 sm-margin-top">
            <div class="btn-group">
                <button type="button" ng-click="vm.uploadPhotos()" class="btn btn-info">Upload Photos</button>
                <button type="button" ng-click="vm.createPhotosZip()" class="btn btn-info">Download Photos</button>
                <button type="button" ng-click="vm.categorizePhotos()" class="btn btn-default" ng-disabled="!vm.photosSelected">Categorize Photos</button>
                <button type="button" ng-click="vm.reorderModal()" class="btn btn-default">Reorder Photos</button>
                <button type="button" ng-click="vm.selectAll()" class="btn btn-default">Select All</button>
                <button type="button" ng-click="vm.clearSelected()" class="btn btn-default">Unselect All</button>
                <button type="button" ng-click="vm.deleteSelected()" class="btn btn-danger" ng-disabled="!vm.photosSelected">Delete Selected</button>

            </div>
        </div>

        <div class="col-sm-12 nav-tabs-custom margin-top">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#all-photos" ng-click="vm.getAllPhotos()" data-toggle="tab">All Photos</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="all-photos" class="tab-pane inspection-photos active">
                    <h4>All Photos</h4>
                    <div class="col-photo" ng-repeat="photo in vm.photos.all">
                        <photo-select photo="photo" />
                    </div>
                </div>

                <div id="all-uncategorized-photos" class="tab-pane inspection-photos">
                    <h4>Uncategorized Photos</h4>
                    <div class="col-photo" ng-repeat="photo in vm.photos.notCategorized">
                        <photo-select photo="photo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
