<div>
    <button type="button" class="btn-default btn" ng-click="vm.showAlertModal()">Send Alert!</button>
    <div class="sm-margin-top">
        <p>Remove Alert Status</p>

        <div ng-if="vm.customAlerts">
          <div ng-repeat="customAlert in vm.customAlerts">
            <div class="col-sm-2">
                <input type="checkbox" ng-model="vm.inspection[customAlert]" ng-true-value="1" ng-false-value="0"
                    ng-disabled="!vm.inspection[customAlert]"
                    ng-click="vm.confirmAlert(vm.inspection.alert_admin, $event, customAlert)"
                />
            </div>
            <label class="col-sm-9">{{customAlert | customAlert}}</label>
          </div>
        </div>

        <div ng-if="!vm.customAlerts">
          <div class="col-sm-2">
              <input type="checkbox" ng-model="vm.inspection.alert_admin" ng-true-value="1" ng-false-value="0"
                  ng-disabled="!vm.inspection.alert_admin"
                  ng-click="vm.confirmAlert(vm.inspection.alert_admin, $event, 'alert_admin')"
              />
          </div>
          <label class="col-sm-9">Alert Admin</label>
          <div class="col-sm-2">
              <input type="checkbox" ng-model="vm.inspection.alert_office" ng-true-value="1" ng-false-value="0" ng-disabled="!vm.inspection.alert_office"
                  ng-click="vm.confirmAlert(vm.inspection.alert_office, $event, 'alert_office')"
              />
          </div>
          <label class="col-sm-9">Alert Office</label>
          <div class="col-sm-2">
              <input type="checkbox" ng-model="vm.inspection.alert_to_inspector" ng-true-value="1" ng-false-value="0" ng-disabled="!vm.inspection.alert_to_inspector"
                  ng-click="vm.confirmAlert(vm.inspection.alert_to_inspector, $event, 'alert_to_inspector')"
              />
          </div>
          <label class="col-sm-9">Alert to Inspector</label>
          <div class="col-sm-2">
              <input type="checkbox" ng-model="vm.inspection.alert_from_inspector" ng-true-value="1" ng-false-value="0" ng-disabled="!vm.inspection.alert_from_inspector"
                  ng-click="vm.confirmAlert(vm.inspection.alert_from_inspector, $event, 'alert_office')"
              />
          </div>
          <label class="col-sm-9">Alert from Inspector</label>
        </div>
    </div>
</div>
