<div class="box box-default margin-top">
    <div class="box-body">
        <div class="col-sm-8 nav-tabs-custom margin-top">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#internal-notes" ng-click="vm.getNotes()" data-toggle="tab">Internal Notes</a>
                </li>
                <li>
                    <a href="#workorder-log" ng-click="vm.getLog()" data-toggle="tab">Workorder Log</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="internal-notes" class="tab-pane active" ng-form ng-submit="vm.saveNote()">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label ">Add Workorder Note</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="vm.workorderNote.text" class="form-control sm-padding">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-3 control-label ">Workorder Notes</label>
                        <div class="col-sm-9">
                            <div class="scroll-box form-control ">
                                <ul>
                                    <li ng-repeat="note in vm.workorderNotes ">
                                        <strong>{{note.text}}</strong> <span class="text-muted ">({{note.username}} / added: {{note.created_at}})</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default" ng-click="vm.saveNote()">Add Note</button>
                </div>

                <div id="workorder-log" class="tab-pane">
                    <ul>
                        <li ng-repeat="log in vm.logs">
                            <show-log log="log"></show-log>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="uploaded-files" class="col-sm-4 margin-top">
            <div class="file-header">Uploaded Files</div>
            <div class="scroll-box form-control sm-margin-top">
                <ul>
                    <li ng-if="!vm.workorderFiles">There are no files assosciated with this work order.</li>
                </ul>
            </div>
        </div>
    </div>
</div>