<div class="box">
  <div class="box-header">
    <h3 class="box-title">Data Table With Full Features</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
      {{counts}}
    <table id="example1" class="table table-bordered table-striped">
      <thead>
          <tr>
              <th ng-repeat="type in timeTypes">{{type.name}}</th>
          </tr>
        <tr>
            <th>Today</th>
            <td>5</td>
            <td>{{counts[0].basic_today}}</td>
        </tr>
        <tr>
            <th>Yesterday</th>
            <td>5</td>
            <td>{{counts[0].basic_yesterday}}</td>
        </tr>
        <tr>
            <th>Tomorrow</th>
            <td>-</td>
            <td>
                <a target="_blank" ng-href="/#/account/workorders/yesterday">
                    {{counts[0].basic_tomorrow}}
                </a>
            </td>
        </tr>
        <tr>
            <th>Today</th>
        </tr>
      </thead>
  </div>
</div>
