body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.padded {
    padding: 1em;
}

.main-header {
}

.sidebar {
    margin-top: 20px;
}

.layout-top-nav .wrapper .content-wrapper, .layout-top-nav .right-side, .layout-top-nav .main-footer {
    margin-left: 230px;
}

.content-wrapper.no-margin-left {
    margin-left: 0 !important;
}

.form-control {
    /*height: 30px;
    margin-top: 8px;*/
}

.margin-top {
    margin-top: 1em !important;
}

.margin-bottom {
    margin-bottom: 1em !important;
}

.section {
    display: inline-block;
    width: 100%;
}

.btn {
    line-height: 12px;
}

.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
}
.modal-backdrop.am-fade .ng-enter {
    opacity: 0;
}
.modal-backdrop.am-fade .ng-enter-active {
    opacity: .5;
}
.modal-backdrop.am-fade .ng-leave {
    opacity: .5;
}
.modal-backdrop.am-fade .ng-leave-active {
    opacity: 0;
}

.li-disabled:hover {
    background-color: initial;
    cursor: pointer;
}

.inspection-form button[type="submit"],
.processing-form button[type="submit"] {
    font-weight: 600;
}

.processing-form .processing-gray {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: .5em 1em;
    margin: 1em;
}

.processing-content {
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #e8e8e8;
    margin-top: .5em;
    margin-left: 1em;
    border: 1px solid #ddd;

}

.no-set-width {
    width: inherit;
}

#accordion .box-header a,
#processing-details .box-header a {
    color: #444;
}

.form-forms {
    margin-top: 1em;
}

::-webkit-input-placeholder {
    color: #999;
}

.list-checkboxes {
    list-style: none;
    margin: 0;
    margin-left: 1em;
    padding: 0;
}

.list-checkboxes li {
    display: inline-block;
    width: 20em;
    margin: .5em;
}

.control-label.no-set-width.question-header {
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}

.alert-fixed {
    position: fixed;
    top: 5em;
    left: 15px;
    right: 15px;
    z-index: 10000000;
}

.alert {
    padding: 2px;
    margin: 0;
}

.form-forms .dropdown.open .dropdown-menu li:hover{
    cursor: pointer;
}

a.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.sidebar-menu > li > a {
    padding: .25em !important;
    font-size: 15px;
}

.admin-table td {
    text-align: center;
}

.inspection-form input[type=text].form-control,
.inspection-form input[type=phone].form-control,
.inspection-form input[type=email].form-control,
.inspection-form input[type=number].form-control,
.inspection-form input[type=date].form-control,
.inspection-form select.form-control {
    padding: 1px 0 1px 5px;
    height: 24px;
}

.form-horizontal .control-label {
    padding-top: 0;
    margin-top: 2px;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 0;
}

.inspection-form .form-group {
    margin: .3em 0;
}

.inspection-form .billing-input input.form-control {
    margin-top: 0;
}

.skin-red-light .sidebar-menu>li.active {
    border-left: 4px solid #dd4b39; 
}

.dropdown-menu.datepicker {
    max-width: 400px !important;
}