<sidebar options="options"></sidebar>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Inspections</h3>
    </div>
    <div class="box-body">
        <table id="daily-counts" class="table table-bordered admin-table">
            <thead>
                <tr><th ng-repeat="status in topTableStatuses">{{status.name}}</tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-repeat="status in topTableStatuses">
                        <a ng-href="{{setReportLink(status.key)}}">{{counts.topCounts[0][status.key]}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table id="daily-counts" class="table table-bordered margin-top admin-table">
            <thead>
                <tr><th ng-repeat="status in bottomTableStatuses">{{status.name}}</tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-repeat="status in bottomTableStatuses">
                        <a ng-href="{{setReportLink(status.key)}}">{{counts.topCounts[0][status.key]}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="box">
    <div class="box-header">
        <h3 class="box-title">Inspections</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped admin-table">
            <thead>
                <tr>
                    <th><!-- Empty header --></th>
                    <th ng-repeat="type in timeTypes">{{type.name}}</th>
                </tr>
                <tr count-row-data 
                    items="items" 
                    item-type="today" 
                    new-type="newToday" 
                    cancelled-type="todayCancelled"
                    col-header="Today">
                </tr>
                <tr count-row-data 
                    items="items" 
                    item-type="yesterday" 
                    new-type="newYesterday" 
                    cancelled-type="yesterdayCancelled"
                    col-header="Yesterday">
                </tr>
                <tr count-row-data 
                    items="items" 
                    item-type="tomorrow" 
                    new-type="newTomorrow" 
                    cancelled-type="tomorrowCancelled"
                    col-header="Tomorrow">
                </tr>
                <tr count-row-data 
                    items="items" 
                    item-type="this_week" 
                    new-type="new_this_week" 
                    cancelled-type="this_week_cancelled"
                    col-header="This Week">
                </tr>
                <tr count-row-data 
                    items="items" 
                    item-type="last_week" 
                    new-type="new_last_week"" 
                    cancelled-type="last_week_cancelled"
                    col-header="Last Week">
                </tr>
                <tr count-row-data 
                    items="items" 
                    item-type="next_week" 
                    new-type="new_next_week" 
                    cancelled-type="next_week_cancelled"
                    col-header="Next Week">
                </tr>
                <tr count-row-data 
                    items="items" 
                    item-type="this_month" 
                    new-type="new_this_month" 
                    cancelled-type="this_month_cancelled"
                    col-header="This Month">
                </tr>
                <tr count-row-data 
                    items="items" 
                    item-type="last_month" 
                    new-type="new_last_month" 
                    cancelled-type="last_month_cancelled"
                    col-header="Last Month">
                </tr>
                <tr count-row-data 
                    items="items" 
                    item-type="next_month" 
                    new-type="new_next_month" 
                    cancelled-type="next_month_cancelled"
                    col-header="Next Month">
                </tr>
                <tr count-row-data 
                    items="items" 
                    item-type="this_year" 
                    new-type="new_this_year" 
                    cancelled-type="this_year_cancelled"
                    col-header="This Year">
                </tr>
                <tr count-row-data 
                    items="items" 
                    item-type="last_year" 
                    new-type="new_last_year" 
                    cancelled-type="last_year_cancelled"
                    col-header="Last Year">
                </tr>
            </thead>
        </table>
    </div>
</div>
