<div class="box">
	<div class="box-header">
		<h3 class="box-title">Inspections Requiring Inspector Attention</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<table id="inspector-reports" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Date of inspection</th>
					<th>Time of inspection</th>
					<th>Inspection Type</th>
					<th>Insurance Company</th>
					<th>Adjuster</th>
					<th>Insured</th>
					<th>Address</th>
					<th>City</th>
					<th>State</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="item in vm.items['inspector_attention_required']" ng-click="vm.openInspection(item.customer_id)">
					<td>
						{{item.date_of_inspection | date:'yyyy-MM-dd'}}
					</td>
					<td>
						{{item.date_of_inspection | date:'hh:mm a'}}
					</td>
					<td>
						{{item.inspection_type}}
					</td>
					<td>
						{{item.adjuster_insurance}}
					</td>
					<td>
						{{item.adjuster}}
					</td>
					<td>
						{{item.insured}}
					</td>
					<td>
						{{item.address}}
					</td>
					<td>
						{{item.city}}
					</td>
					<td>
						{{item.state}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="box-header">
		<h3 class="box-title">Today's Inspections</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<table id="example1" class="table table-bordered table-hover">
			<thead>
			<tr>
				<th>Date of inspection</th>
				<th>Time of inspection</th>
				<th>Inspection Type</th>
				<th>Insurance Company</th>
				<th>Adjuster</th>
				<th>Insured</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
			</tr>
			</thead>

			<tbody>
			<tr ng-repeat="item in vm.items['today']" ng-click="vm.openInspection(item.customer_id)">
				<td>
					{{item.date_of_inspection | date:'yyyy-MM-dd'}}
				</td>
				<td>
					{{item.date_of_inspection | date:'hh:mm a'}}
				</td>
				<td>
					{{item.inspection_type}}
				</td>
				<td>
					{{item.adjuster_insurance}}
				</td>
				<td>
					{{item.adjuster}}
				</td>
				<td>
					{{item.insured}}
				</td>
				<td>
					{{item.address}}
				</td>
				<td>
					{{item.city}}
				</td>
				<td>
					{{item.state}}
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="box-header">
		<h3 class="box-title">Tomorrow's Inspections</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<table id="example1" class="table table-bordered table-hover">
			<thead>
			<tr>
				<th>Date of inspection</th>
				<th>Time of inspection</th>
				<th>Inspection Type</th>
				<th>Insurance Company</th>
				<th>Adjuster</th>
				<th>Insured</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
			</tr>
			</thead>

			<tbody>
			<tr ng-repeat="item in vm.items['tomorrow']" ng-click="vm.openInspection(item.customer_id)">
				<td>
					{{item.date_of_inspection | date:'yyyy-MM-dd'}}
				</td>
				<td>
					{{item.date_of_inspection | date:'hh:mm a'}}
				</td>
				<td>
					{{item.inspection_type}}
				</td>
				<td>
					{{item.adjuster_insurance}}
				</td>
				<td>
					{{item.adjuster}}
				</td>
				<td>
					{{item.insured}}
				</td>
				<td>
					{{item.address}}
				</td>
				<td>
					{{item.city}}
				</td>
				<td>
					{{item.state}}
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="box-header">
		<h3 class="box-title">Yesterdays's Inspections</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<table id="example1" class="table table-bordered table-hover">
			<thead>
			<tr>
				<th>Date of inspection</th>
				<th>Time of inspection</th>
				<th>Inspection Type</th>
				<th>Insurance Company</th>
				<th>Adjuster</th>
				<th>Insured</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
			</tr>
			</thead>

			<tbody>
			<tr ng-repeat="item in vm.items['yesterday']" ng-click="vm.openInspection(item.customer_id)">
				<td>
					{{item.date_of_inspection | date:'yyyy-MM-dd'}}
				</td>
				<td>
					{{item.date_of_inspection | date:'hh:mm a'}}
				</td>
				<td>
					{{item.inspection_type}}
				</td>
				<td>
					{{item.adjuster_insurance}}
				</td>
				<td>
					{{item.adjuster}}
				</td>
				<td>
					{{item.insured}}
				</td>
				<td>
					{{item.address}}
				</td>
				<td>
					{{item.city}}
				</td>
				<td>
					{{item.state}}
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="box-header">
		<h3 class="box-title">New Pickups</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<table id="example3" class="table table-bordered table-hover">
			<thead>
			<tr>
				<th>Date of inspection</th>
				<th>Time of inspection</th>
				<th>Inspection Type</th>
				<th>Insurance Company</th>
				<th>Adjuster</th>
				<th>Insured</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
			</tr>
			</thead>

			<tbody>
			<tr ng-repeat="item in vm.items['new_pickups']" ng-click="vm.openInspection(item.customer_id)">
				<td>
					{{item.date_of_inspection | date:'yyyy-MM-dd'}}
				</td>
				<td>
					{{item.date_of_inspection | date:'hh:mm a'}}
				</td>
				<td>
					{{item.inspection_type}}
				</td>
				<td>
					{{item.adjuster_insurance}}
				</td>
				<td>
					{{item.adjuster}}
				</td>
				<td>
					{{item.insured}}
				</td>
				<td>
					{{item.address}}
				</td>
				<td>
					{{item.city}}
				</td>
				<td>
					{{item.state}}
				</td>
				<td>{{item.zip_code}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
