<div class="box">
    <div class="box-header">Users</div>
    <div class="box-body">
        <a ng-href="/#/admin/users/edit/new" class="btn btn-success margin-bottom">Create User</a>

        <div class="box">
            <div class="box-header">Admins</div>
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody class="centered">
                        <tr ng-repeat="user in vm.admins">
                            <td>{{user.id}}</td>
                            <td>{{user.email}}</td>
                            <td><a ng-href="/#/admin/users/edit/{{user.id}}"><i class="fa fa-edit"></i></a></td>
                            <td><a ng-href="#" ng-click="vm.deleteUser($event, user.id);"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box">
            <div class="box-header">Inspectors</div>
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody class="centered">
                        <tr ng-repeat="user in vm.inspectors">
                            <td>{{user.id}}</td>
                            <td>{{user.email}}</td>
                            <td><a ng-href="/#/admin/users/edit/{{user.id}}"><i class="fa fa-edit"></i></a></td>
                            <td><a ng-href="#" ng-click="vm.deleteUser($event, user.id);"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box">
            <div class="box-header">Clients</div>
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody class="centered">
                        <tr ng-repeat="user in vm.clients">
                            <td>{{user.id}}</td>
                            <td>{{user.email}}</td>
                            <td><a ng-href="/#/admin/users/edit/{{user.id}}"><i class="fa fa-edit"></i></a></td>
                            <td><a ng-href="#" ng-click="vm.deleteUser($event, user.id);"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
