<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="vm.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Categorize Photo(s)</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" ng-if="!vm.category1">
                    Choose the first category by selecting an option below.
                </div>
                <div ng-if="vm.category1 && !vm.category2">
                    <button class="btn btn-default sm-margin-right" ng-click="vm.deleteCategory1()"><i class="fa fa-angle-left"></i> Back</button>
                    <strong>Current Category</strong>: {{vm.category1.name}}
                    <hr>
                </div>
                <div ng-if="vm.category1 && vm.category2">
                    <button class="btn btn-default sm-margin-right" ng-click="vm.deleteCategory2()"><i class="fa fa-angle-left"></i> Back</button>
                    <strong>Current Category</strong>: {{vm.category2.name}}
                    <hr>
                </div>
                <ul class="category-choice" ng-if="!vm.category1">
                    <li ng-repeat="category in vm.parentCategories" style="margin: 5px 0">
                        <button type="button" class="btn btn-default" 
                        ng-click="vm.getSubCategories(category.id, true);vm.category1=category;vm.setParentId(category.id)">{{category.name}}</button>
                    </li>
                </ul>
                
                <ul class="category-choice" ng-if="vm.category1 && !vm.category2">
                    <li ng-repeat="category in vm.children.categories" style="margin: 5px 0">
                        <button type="button" class="btn btn-default" 
                        ng-click="vm.getSubCategories(category.id, true);vm.category2=category;vm.setSubParentId(category.id)">{{category.name}}</button>
                    </li>
                </ul>
                
                <ul class="category-choice" ng-if="vm.category2">
                    <li ng-repeat="category in vm.children.categories" style="margin: 5px 0">
                        <button type="button" class="btn btn-default" ng-click="vm.setSelected(category)">{{category.name}}</button>
                    </li>
                </ul>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-disabled="!vm.labelSelected" ng-click="vm.save();vm.close();">Save</button>
                <button type="button" class="btn btn-default" ng-click="vm.close()">Close</button>
            </div>
        </div>
    </div>
</div>