<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Categorize Photos</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-6">
                    <select ng-model="parentId" class="form-control no-padding" ng-options="p.name for p in parents"
                        ng-change="vm.getSubCategories(parentId.id, children)">
                    </select>    
                </div>
                <div class="col-sm-6">
                    <select ng-disabled="!parentId" ng-model="childId" 
                        class="form-control no-padding" ng-options="c.name for c in vm.children.categories">
                    </select>    
                </div>
                <div class="photo-col" ng-repeat="photo in photos">
                    <photo-select photo="photo" />    
                </div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" 
                ng-disabled="!vm.photosSelected" 
                ng-click="vm.save();$hide();">Save</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>