<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Categorize Photo(s)</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    Choose the first category by selecting an option below.
                </div>
                <ul class="category-choice" ng-if="!vm.category1">
                    <li ng-repeat="category in vm.parentCategories" style="margin: 5px 0">
                        <button type="button" class="btn btn-default" ng-click="vm.getSubCategories(category.id, true);vm.category1=category;">{{category.name}}</button>
                    </li>
                </ul>
                
                <ul class="category-choice" ng-if="vm.category1 && !vm.category2">
                    <li ng-repeat="category in vm.children.categories" style="margin: 5px 0">
                        <button type="button" class="btn btn-default" ng-click="vm.getSubCategories(category.id, true);vm.category2=category;">{{category.name}}</button>
                    </li>
                </ul>
                
                <ul class="category-choice" ng-if="vm.category2">
                    <li ng-repeat="category in vm.children.categories" style="margin: 5px 0">
                        <button type="button" class="btn btn-default" ng-click="vm.setSelected(category)">{{category.name}}</button>
                    </li>
                </ul>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-disabled="!vm.labelSelected" ng-click="vm.save();$hide();">Save</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>