<sidebar options="options"></sidebar>

<div class="box box-info">
	<div class="box-header with-border margin-bottom">
		<div class="col-sm-2">
			<h3>Inspection Details</h3>
		</div>
		<div class="col-sm-2 form-forms">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Inspection Forms
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="#"><i class="fa fa-times text-danger"></i>Basic Sketch</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-times text-danger"></i>Expert Sketch</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-times text-danger"></i>Alacrity Form</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-times text-danger"></i>NCT Form</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="box-body">
		<form name="processingForm" ng-submit="save" class="form-horizontal processing-form">

			<div class="box-group" id="accordion">
				<div class="panel box">
					<div class="box-header">
						<h4 class="box-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">
	                        Work order details (Click to view)
	                      </a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
						<div class="processing-gray">

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-3 no-set-width control-label">Inspection #</label>
										<div class="col-sm-9">{{workorder.policy_num}}</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-3 no-set-width control-label">Claim #</label>
										<div class="col-sm-9 processing-content">{{workorder.claim_num}}</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="margin-top col-sm-6">
									<div class="form-group">
										<label class="col-sm-3 control-label no-set-width">Inspection Type</label>
										<div class="col-sm-7 processing-content">{{workorder.inspection_val}}</div>
									</div>
								</div>
								<div class="margin-top col-sm-6">
									<div class="form-group">
										<label class="col-sm-3 control-label no-set-width">Auto Upgrade</label>
										<div class="col-sm-9 processing-content">{{auto_upgrade}}</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 no-set-width control-label">Insured Name</label>
										<div class="col-sm-8 processing-content">{{workorder.first_name}} {{workorder.last_name}}</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 no-set-width control-label">Phone Number</label>
										<div class="col-sm-8 processing-content">{{workorder.phone_1}}</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label class="col-sm-4 no-set-width control-label">Insured Address</label>
										<div class="col-sm-8 processing-content">{{workorder.address}}
											{{inspection.city}},
											{{inspection.state}}
											{{inspection.zip}}
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Insured Special Instructions</label>
										<div class="col-sm-10">
											<p>
												{{workorder.special_instructions_insured}}
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- adjutser -->
						<div class="processing-gray margin-top">
							<div class="row">
								<div class="margin-top col-sm-6">
									<div class="form-group">
										<label class="col-sm-3 control-label no-set-width">Adjuster Name</label>
										<div class="col-sm-9 processing-content">{{workorder.adjuster.name}}</div>
									</div>
								</div>
								<div class="margin-top col-sm-6">
									<div class="form-group">
										<label class="col-sm-3 control-label no-set-width">Insurance Company</label>
										<div class="col-sm-8 processing-content">{{workorder.adjuster.profile.insurance_company}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="margin-top col-sm-12">
									<div class="form-group">
										<label class="col-sm-2 control-label no-set-width">Adjuster Phone</label>
										<div class="col-sm-10 processing-content">{{workorder.adjuster.profile.phone}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="margin-top col-sm-12">
									<div class="form-group">
										<label class="col-sm-2 control-label no-set-width">Adjuster Email</label>
										<div class="col-sm-10 processing-content">{{workorder.adjuster.email}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="margin-top col-sm-12">
									<div class="form-group">
										<label class="col-sm-2 control-label no-set-width">Adjuster Special Instructions:</label>
										<div class="col-sm-10 processing-content">
											<p>
												{{workorder.special_instructions_adjuster}}
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="box-group margin-top" id="processing-details">
				<div class="panel box">
					<div class="box-header">
						<h4 class="box-title">
							<a data-toggle="collapse" data-parent="#processing-details" href="#collapse-two" aria-expanded="true" class="">
	                        Processing details (Click to view)
	                      </a>
						</h4>
					</div>

					<div id="collapse-two" class="panel-collapse collapse" aria-expanded="false">
						<div class="processing-gray">
							<div class="row margin-top">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Progress Status</label>
										<div class="col-sm-8 processing-content">
											{{workorderStatus.name}}
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Date of last contact</label>
										<div class="col-sm-8 processing-content">
											{{workorder.date_of_last_contact | date:YYYY/mm/dd}}
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-top">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Date of inspection</label>
										<div class="col-sm-8">
											<input type="date" ng-model="inspection.date_of_inspection"
											 		class="form-control"/>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Time of inspection</label>
										<div class="col-sm-8">
											<input type="date" ng-model="time"
											 		class="form-control"/>
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-top">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Inspector</label>
										<div class="col-sm-8">
											<select ng-model="inspector" class="form-control"
													ng-options="inspector.name for inspector in inspectors"
													ng-change="setInspector(inspector)">
											</select>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Date Cancelled</label>
										<div class="col-sm-8">
											<input type="date" class="form-control"
												ng-model="inspection.date_cancelled" />
										</div>
									</div>
								</div>
							</div>

							<div class="row margin-top">
								<div class="col-sm-12">
									<div class="form-group">
										<label class="col-sm-2 no-set-width control-label">Special Instructions to Inspector</label>
										<div class="col-sm-9">
											<textarea class="form-control"
												ng-model="inspection.special_instructions_to_inspector">
											</textarea>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<hr />

			<h4>Inspection Billing Details:</h4>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-sm-2 control-label">Inspection outcome</label>
						<div class="col-sm-6">
							<select class="form-control" ng-options="outcome.name for outcome in outcomes.outcomes"
								ng-model="inspectionOutcome"
								ng-change="form.outcome_type=inspectionOutcome.id;">
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-sm-2 control-label">Rope & Harness Charge</label>
						<div class="col-sm-6">
							<select class="form-control"
								ng-options="outcome.amount for outcome in outcomes.harnessCharges"
								ng-model="harnessCharge"
								ng-change="form.harness_charge=harnessCharge.amount">
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-sm-2 control-label">Tarp(s) Charge</label>
						<div class="col-sm-6">
							<select class="form-control"
								ng-options="outcome.amount for outcome in outcomes.tarpCharges"
								ng-model="tarpCharge"
								ng-change="form.tarp_charge=tarpCharge.amount">
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-sm-2 control-label">Misc.</label>
						<div class="col-sm-6">
							<input type="number" ng-model="form.misc_charge" class="form-control" placeholder="Manual enter value" />
						</div>
					</div>
				</div>
			</div>

			<button type="button" class="btn btn-danger" click="lockBilling">
				Lock Billing Details
			</button>

			<div class="row" ng-if="[1,2,3,4].indexOf(form.outcome_type) != -1">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-sm-2 no-set-width control-label">
							What was the reason this inspection was cancelled or needs to be scheduled?</label>
						<div class="col-sm-10">
							<input type="text" ng-model="form.cancel_reschedule_reason" class="form-control" />
						</div>
					</div>
				</div>
			</div>

			<hr />
			<button type="submit" class="btn btn-success" ng-click="save()">Save</button>
		</form>
	</div>
</div>
