.navbar-custom-menu>.nav>li>a {
    padding-top: 15px;
    padding-bottom: 0;
    height: 50px;
}

.main-header {
    margin-bottom: 20px;
    height: 30px;
}

.padded {
    padding: 1em;
}

.content-wrapper.no-margin-left {
    margin-left: 0;
}
