<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>trinity</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="assets/styles.css" type="text/css" rel="stylesheet"/>
  <link href="bower/angular-material/angular-material.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
</head>
<body layout="column">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<div layout="column" flex>
  <div flex id="content">
    <div ng-controller="toolBarCtrl">

      <!-- Toolbar -->

      <md-toolbar layout="row">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
            <md-icon aria-label="Menu"
                     md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
          </md-button>
          <ul layout="row" class="nav" flex>
            <li ng-repeat="item in items">
              <md-menu ng-if="item.children">
                <md-button ng-click="$mdOpenMenu($event)" aria-label="Open some menu">
                  {{item.name}}
                </md-button>
                <md-menu-content>
                  <md-menu-item ng-repeat="child in item.children">
                    <md-button ng-click="doSomething()" aria-label="Do something">
                      <a href="{{link}}" target="_blank">{{child.name}}</a>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              <div ng-if="!item.children" class="md-button">
                {{item.name}}
              </div>
            </li>
          </ul>

          <ul layout="row" layout-align="end center" class="nav">
            <li class="md-button" aria-label="tasks">
              <md-tooltip>
                Tasks
              </md-tooltip>
              <i class="fa fa-tasks"></i>
            </li>
            <li>
              <md-input-container flex layout-align="center" class="md-accent">
                <input type="text" ng-model="searchWorkorder" placeholder="Search Work Orders">
              </md-input-container>
            </li>
          </ul>
        </div>
      </md-toolbar>
      <!--<md-toolbar layout="row">-->
      <!--<div class="md-toolbar-tools">-->


      <!--</div>-->

      <!--</md-toolbar>-->
    </div>

    <div layout="row" flex>
      <div layout="row" ng-controller="sideBarCtrl">
        <md-sidenav ng-if="sidebar" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-sm')">

        </md-sidenav>
      </div>
      <div layout="column" flex>
        <div ng-view></div>
      </div>
    </div>
  </div>
</div>

<script type="application/javascript" src="bower/jquery/dist/jquery.js"></script>
<script type="application/javascript" src="bower/angular/angular.min.js"></script>
<script type="application/javascript" src="bower/angular-route/angular-route.min.js"></script>
<script type="application/javascript" src="bower/angular-resource/angular-resource.min.js"></script>
<script type="application/javascript" src="bower/angular-material/angular-material.min.js"></script>
<script type="application/javascript" src="bower/angular-animate/angular-animate.min.js"></script>
<script type="application/javascript" src="bower/angular-aria/angular-aria.min.js"></script>

<!-- Charts -->
<script type="application/javascript" src="bower/d3/d3.min.js"></script>

<!-- Shared -->
<script type="text/javascript" src="app/shared/controllers.js"></script>
<script type="text/javascript" src="app/shared/services.js"></script>
<script type="text/javascript" src="app/shared/app.js"></script>

<!-- WorkOrders Modules -->
<script type="text/javascript" src="app/workOrders/filters.js"></script>
<script type="text/javascript" src="app/workOrders/services.js"></script>
<script type="text/javascript" src="app/workOrders/directives/directives.js"></script>
<script type="text/javascript" src="app/workOrders/controllers/list.js"></script>
<script type="text/javascript" src="app/workOrders/controllers/edit.js"></script>
<script type="text/javascript" src="app/workOrders/controllers/date.js"></script>
<script type="text/javascript" src="app/workOrders/module.js"></script>

<!-- Routes Module -->
<script type="text/javascript" src="app/routes.js"></script>

<!-- Main App -->
<script type="text/javascript" src="app/app.js"></script>


<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->


</body>
</html>
