<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>trinity</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="assets/styles.css" type="text/css" rel="stylesheet"/>
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">-->
</head>
<body layout="column">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div layout="column" flex>
    <div flex id="content">
        <div ng-controller="toolBarCtrl">

            <!-- Toolbar -->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="../" class="navbar-brand">Trinity Inspections Admin</a>
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-main">
                        <ul class="nav navbar-nav">
                            <li ng-repeat="item in items" ng-class="{'dropdown': item.children}">
                                <a ng-if="item.children" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    {{item.name}}<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="child in item.children">
                                        {{child.name}}
                                    </li>
                                </ul>

                                <a ng-if="!item.children" href="{{link}}">{{item.name}}</a>
                            </li>
                            <!--<li class="dropdown">-->
                                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span-->
                                        <!--class="caret"></span></a>-->
                                <!--<ul class="dropdown-menu" aria-labelledby="themes">-->
                                    <!--<li><a href="../default/">Default</a></li>-->
                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="../cerulean/">Cerulean</a></li>-->
                                    <!--<li><a href="../cosmo/">Cosmo</a></li>-->
                                    <!--<li><a href="../cyborg/">Cyborg</a></li>-->
                                    <!--<li><a href="../darkly/">Darkly</a></li>-->
                                    <!--<li><a href="../flatly/">Flatly</a></li>-->
                                    <!--<li><a href="../journal/">Journal</a></li>-->
                                    <!--<li><a href="../lumen/">Lumen</a></li>-->
                                    <!--<li><a href="../paper/">Paper</a></li>-->
                                    <!--<li><a href="../readable/">Readable</a></li>-->
                                    <!--<li><a href="../sandstone/">Sandstone</a></li>-->
                                    <!--<li><a href="../simplex/">Simplex</a></li>-->
                                    <!--<li><a href="../slate/">Slate</a></li>-->
                                    <!--<li><a href="../spacelab/">Spacelab</a></li>-->
                                    <!--<li><a href="../superhero/">Superhero</a></li>-->
                                    <!--<li><a href="../united/">United</a></li>-->
                                    <!--<li><a href="../yeti/">Yeti</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->
                        </ul>

                        <!--<ul class="nav navbar-nav navbar-right">-->
                            <!--<li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>-->
                            <!--<li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>-->
                        <!--</ul>-->

                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div ng-view></div>
        </div>

        <!--<div layout="row" flex>-->
            <!--<div layout="row" ng-controller="sideBarCtrl">-->
                <!--<md-sidenav ng-show="sidebar" layout="column" class="md-sidenav-left md-whiteframe-z2"-->
                            <!--md-component-id="left"-->
                            <!--md-is-locked-open="$mdMedia('gt-sm')">-->

                <!--</md-sidenav>-->
            <!--</div>-->
            <!---->
        <!--</div>-->
    </div>
</div>

<script type="application/javascript" src="bower/jquery/dist/jquery.js"></script>
<script type="application/javascript" src="bower/angular/angular.min.js"></script>
<script type="application/javascript" src="bower/angular-route/angular-route.min.js"></script>
<script type="application/javascript" src="bower/angular-resource/angular-resource.min.js"></script>
<script type="application/javascript" src="bower/angular-animate/angular-animate.min.js"></script>
<script type="application/javascript" src="bower/angular-aria/angular-aria.min.js"></script>

<!-- Charts -->
<script type="application/javascript" src="bower/d3/d3.min.js"></script>

<!-- Shared -->
<script type="text/javascript" src="app/shared/controllers.js"></script>
<script type="text/javascript" src="app/shared/services.js"></script>
<script type="text/javascript" src="app/shared/app.js"></script>

<!-- WorkOrders Modules -->
<script type="text/javascript" src="app/workOrders/filters.js"></script>
<script type="text/javascript" src="app/workOrders/services.js"></script>
<script type="text/javascript" src="app/workOrders/directives/directives.js"></script>
<script type="text/javascript" src="app/workOrders/controllers/list.js"></script>
<script type="text/javascript" src="app/workOrders/controllers/edit.js"></script>
<script type="text/javascript" src="app/workOrders/controllers/date.js"></script>
<script type="text/javascript" src="app/workOrders/module.js"></script>

<!-- Routes Module -->
<script type="text/javascript" src="app/routes.js"></script>

<!-- Main App -->
<script type="text/javascript" src="app/app.js"></script>


<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->


</body>
</html>
