<!-- replace filter is taking in '_' and replacing it with '-' -->

<th>{{colHeader}}</th>
<td>
    <a href="/#/admin/reports/{{itemType | replace:'_':'-'}}/ladder-assist"> 
        {{ladderAssist}}
    </a>
</td> 
<td>
    <a href="/#/admin/reports/{{itemType | replace:'_':'-'}}/ladder-assist-with-report"> 
        {{ladderAssistWithReport}}
    </a>
</td> 
<td>
    <a href="/#/admin/reports/{{itemType | replace:'_':'-'}}/expert"> 
        {{expert}}
    </a>
</td> 
<td>
    <a href="/#/admin/reports/{{itemType | replace:'_':'-'}}"> 
        {{getTotal()}}
    </a>
</td> 
<td> 
    <a href="/#/admin/reports/{{itemType | replace:'_':'-'}}/new"> 
        {{newToday()}} 
    </a> 
</td> 
<td> 
    <a href="/#/admin/reports/{{itemType | replace:'_':'-'}}/cancelled">
        {{cancelled()}}    
    </a>
</td>